<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<bean id="datePrinter" class="org.mechmng.biz.impl.quartz.schedule.DatePrinter"/>
	
	<!-- 配置任务 -->
	<bean id="datePrinterDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 指定任务类 -->
		<property name="targetObject" ref="datePrinter" />
		<!-- 指定任务执行的方法 -->
		<property name="targetMethod" value="execute" />
	</bean>
	
	<!-- 配置触发器 -->
	<bean id="datePrinterTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="datePrinterDetail" />
		<property name="cronExpression" value="0/10 * * * * ?" />
	</bean>
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="datePrinterTrigger"/>
			</list>
		</property>
	</bean>
	
</beans>