<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<!-- 第一种方式 -->
	<jaxws:client id="userFacade" serviceClass="org.mechmng.facade.api.UserFacade"  address="http://localhost:8080/mechmng-biz-impl/cxf/UserFacade" />
	
	<!-- 第二种方式 -->
<!-- 	<bean id="userFacade" class="org.myws.facade.UserFacade" factory-bean="clientFactory" factory-method="create" />
	<bean id="clientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="org.myws.facade.UserFacade" />
		<property name="address" value="http://127.0.0.1:8080/myws-facade/cxf/UserFacadeImpl" />
	</bean> -->

</beans>